html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: "Trebuchet MS";
    vertical-align: baseline;
}

/* remember to define focus styles! */
:focus {
    outline: 0;
}

body {
    line-height: 1;
    color: black;
    background: url(../images/body_bg.jpg);
}

ol,
ul {
    list-style: none;
}

#container {
    width: 960px;
    margin: 0 auto;
}

#top {
    float: left;
    width: 960px;
    height: 98px;
    border-bottom: 1px dashed #d5d5d5;
    /*position: fixed;
    background: url(../images/body_bg.jpg);*/
}

#top h1 {
    position: relative;
    float: left;
}

#top h1 a {
    float: left;
    width: 180px;
    height: 55px;
    padding: 31px 0 0 60px;
    /*background: url(../images/logo_bg.jpg) no-repeat;*/
    font-size: 29px;
    color: #88857a;
    text-decoration: none;
}

#top h1 span {
    display: block;
    position: absolute;
    top:55px;
    right: 64px;
    font-size: 11px;
    font-style: italic;
    font-weight: normal;
    color: #444444;
}

ul#nav {
    float: left;
    height: 86px;
    margin: 13px 0 0 150px;
}

ul#nav li,
ul#nav li a {
    display: block;
    float: left;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #88857a;
}

ul#nav li {
    padding: 0 5px;
    width: 125px;
}

ul#nav li a {
    height: 16px;
    padding: 25px 0;
    width: 100%;
}

ul#nav li a:hover {
    background: url(../images/menu_hover.jpg) -17px 4px no-repeat;
    color: #66733F;
    cursor: pointer;
}

ul#nav li span {
    clear: left;
    float: left;
    margin-top: -27px;
    display: block;
    width:100%;
    font-size: 11px;
    font-style: italic;
    font-weight: normal;
    text-transform: none;
    color: #444444;
}

#middle {
    float: left;
    width: 960px;
    padding-bottom: 20px;
    background: url(../images/tree.jpg) 92% 0 no-repeat;
}

#text_placement {
    width: 460px;
    padding: 50px 0 65px 0;
    margin-left: 20px;
}

#text_placement h2 {
    color: #66733f;
    font-size: 85px;
    font-weight: normal;
    height: 80px;
    display: block;
}

#text_placement span {
    display: block;
    width: 95%;
    margin-bottom: -23px;
    font-size: 12px;
    font-style: italic;
    text-align: right;
    color: #444444;
}

#text_placement h3 {
    color:#88857A;
    font-size:17px;
    line-height:1.2;
    text-align:justify;
    text-transform:uppercase;
}

#text_placement p {
    padding-top: 15px;
    line-height: 1.3;
    font-size: 13px;
    font-style: italic;
    color: #444444;
    text-align: justify;
}

.content {
    position: relative;
    float: left;
    margin: 20px 0 0 0;
    width: 900px;
    padding: 0 30px;
    border-top: 1px dashed #d5d5d5;
}

.content span {
    font-size:11px;
    font-style:italic;
    position:absolute;
    right:77px;
    top:-7px;
    display: block;
    background: url(../images/body_bg.jpg);
    padding: 0 10px;
}

.content span a {
    text-decoration: none;
    color: #444444;
}

.content p {
    float: left;
    text-align: justify;
    padding: 10px 20px;
    line-height: 1.5;
    font-size: 12px;
    font-style: italic;
    color: #444444;
    width: 250px;
    min-height: 170px;
}

.content p strong {
    font-weight: bold;
    font-style: normal;
    display: block;
    padding-bottom: 5px;
    text-transform: uppercase;
    font-size: 11px;
}

.content p a {
    color:#88857a;
    font-weight: normal;
    text-decoration: none;
    padding: 0 3px;
}

.content p a:hover {
    border-bottom: 1px dashed;
}

.content p.border {
    border-right: 1px dashed #d5d5d5;
}

.content form {
    float: left;
    width: 250px;
    padding: 10px 20px;
    min-height: 170px;
    background: url(../images/logo_bg.jpg) 30% 63px no-repeat;
}

.content form div {
    float: left;
    width: 250px;
    padding-bottom: 5px;
}

.content form label {
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
    float: left;
    line-height: 20px;
    color: #88857a;
}

.content form input,
.content form textarea {
    float: right;
    width: 197px;
    height:20px;
    display: block;
    background: url(../images/input.jpg) left top no-repeat;
    border: none;
}

.content form textarea {
    height: 61px;
    background: url(../images/textarea.jpg) no-repeat;
    overflow: auto;
}

.content form button.submit {
    background: transparent none;
    border: none;
    font-size: 15px;
    width: 54px;
    float: right;
    cursor: pointer;
}

.content h4 {
    color: #88857a;
    margin-top: -8px;
    font-size: 16px;
    background: url(../images/body_bg.jpg);
    width: 160px;
    padding-left: 10px;
}

footer {
    float: left;
    width: 960px;
    padding: 10px 0 20px;
    background:center no-repeat;
    border-top: 1px dashed #d5d5d5;
}

footer p {
    width: 100%;
    text-align: center;
    font-size: 11px;
    color: #444444;
}

footer p a {
    color:#88857a;
    font-weight: normal;
    text-decoration: none;
    padding: 0 3px;
}

footer p a:hover {
    border-bottom: 1px dashed;
}

/*--- gallery ---*/
#gallery {
    padding: 15px 10px;
    width: 900px;
}

#gallery ul {
    list-style: none;
}

#gallery ul li {
    display: inline;
    overflow: hidden;
}

#gallery ul li a {
    color: white;
}

#gallery ul a img {
    padding:10px 5px;
    border: none;
}

#gallery ul a img:hover {
    padding: 0;
    border: 5px solid #d5d5d5;
    background-image: url(../images/menu_hover.jpg);
}
